body{ 
    background: url(http://www.planwallpaper.com/static/images/Alien_Ink_2560X1600_Abstract_Background_dh8LV2F.jpg)
}
header{
  border-bottom: 2px solid grey;
  /*flot: left;
  display; inline-block;
  padding: auto 15px;*/
}
h1{
  text-align: center;
  color: yellow;
}
h3{
  color:red;
}
#wrapper{
  width: 75%;
  margin: 20px auto;
}
footer{
  border-top: 1px solid purple;
  text-align: center;
}